<!doctype html>
<html lang="en">
<head>

  <!-- Webpage Title -->
  <title>국내 여행지 가이드 맵 KO-MAP</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- JS -->   
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- google font -->
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">

  <style type="text/css">
    * {
     font-family: 'Nanum Gothic Coding', sans-serif;;
   }

   .wrap {
    width: 900px;
    margin: auto;
  }
  .comment {
    color: gray;
    font-weight: bold;
  }
  .align{
    text-align: center;
  }
</style>

<script>
    $(document).ready(function(){
    $('#cards-box').html('');
    alert("{{data['region']}}")
    seoul();
  });



  // 


 function make_loc_card(region,name,location,image,description,visitcount) {
  let temp_html = '<div class="card" style="width: 20rem;">\
  <img class="card-img-top" src="'+image+'" alt="Card image cap">\
  <div class="card-body">\
  <h5 class="card-title">'+name+'</h5>\
  <p class="card-text">'+description+'</p>\
  </div>\
  <ul class="list-group list-group-flush">\
  <li class="list-group-item">주소: '+location+'</li>\
  <li class="list-group-item">'+name+' 여행지 총 방문수 :'+visitcount +'</li>\
  </ul>\
  <!-- check box -->\
  <div class="form-check form-check-inline">\
  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">\
  <label class="form-check-label" for="inlineCheckbox1">방문함</label>\
  </div>'
  $('#cards-box').append(temp_html);
}


let region_list = ['seoul','daegu','gwangju','gyeongbuk','gyeonggi','jeju','jeonbuk','seoul','ulsan']



function seoul(){
  $.ajax({
    type: "GET",
    url: "/region?{{data['region']}}",
    data: {},
    success: function(response){
      alert("뜬다.")
      console.log({{data['locations']}})
     // console.log(response)
    //  let locations = response['locations'];
    //  for (let i = 0; i < locations.length; i++) {
    //   make_loc_card(locations[i]['region'],locations[i]['name'],locations[i]['location'],locations[i]['image'],
    //     locations[i]['description'],locations[i]['visitcount']);
    // }

  }
})
}



</script>
</head>
<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container" >
      <h1 class="display-4">국내 여행지 가이드 맵 KO-MAP</h1>
      <p class="lead"> KO-MAP 코맵과 대한민국을 여행하세요 :) </p>
    </div>
  </div>

  <div class="alert alert-dark" role="alert">
    서울 | 부산 | 대구 | 인천 | 광주 | 대전 | 울산 | 세종 | 경기 | 강원 | 충북 | 충남 | 경북 | 경남 | 전북 | 전남 | 제주 
  </div>
  <!-- search box -->
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="예) 제주도" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색하기</button>
    </form>
  </nav>

  <!-- card box listing-->
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">서울틀별시</h5>
      <p class="card-text">서울은 ~~</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">서울 지역 여행지 수 : 100</li>
      <li class="list-group-item">서울 지역 여행지 총 방문수 : 40000</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">서울 여행지 보러가기</a>
    </div>
    <!-- check box -->
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
      <label class="form-check-label" for="inlineCheckbox1">방문함</label>
    </div>
  </div>


</body>
</html>